@font-face {
    font-family: hannari;
    src: url(font/Hannari.otf);
}
body {
	font-family: "秀英明朝 M JIS2004", "DNPShueiMinPr6N-M", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 18px;
    line-height: 1.618	;
    color: #333333;
    background-color: #fff;
    overflow-y: hidden;
    /*background-image: url("../img/pattern.png");*/
    margin:0;
    text-alignment:right;
}

h1, h2, h3, h4, h5, h6{
	line-height: 2;
	color: #111111;
	font-family: hannari;
}
p{
	line-height: 2.1em;
	color: #111111;
	letter-spacing: 0.3em;
	font-weight:bold;
	margin-right:2em;
}

.chinese-font{
	font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

.tategaki {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.black-board{
	border: 2.5px solid #222222;
}

.circle-icon{
	border-radius: 50%;
}

.separator-with-image{
	height:100vh;
	margin:-5em 2em 0 2em;
	width:15em;
	overflow:hidden;
	z-index:-1000;
}
.separator-with-image img{
	margin:0;
	padding:0;
}