h1 {
	font-size:3em;
	font-weight:300;
}
.background-element img{
	width:1080px;
	position:fixed;
	right:0;
	bottom:0;
	z-index:-1;
}
#id_logo{
	margin-top:3em;
	width:1.6em;
	height:auto;
}
#namecard h1{
	color: rgb(210,2,80);
	margin-left:0;
}

#sakura_container{
	position:fixed;
	width: 110%;
	height: 110%;
	left:-5%;
	top:-5%;
	z-index:-2;
    background: none; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(46,36,30,0.14), rgba(0,0,0,0) 30%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(66,36,30,0.14), rgba(0,0,0,0) 30%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(66,36,30,0.14), rgba(0,0,0,0) 30%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(66,36,30,0.14), rgba(0,0,0,0) 30%); /* Standard syntax (must be last) */
}
#self_intro{
	margin-right: 6em;
}
#separator_a{
	background: url('../img/pattern1.png');
	background-position: 0px 0px;
	animation: animatedBackground_1 10s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    padding-top:10em;
}
#separator_a:hover{
	-webkit-animation-play-state: running;
	animation-play-state: running;
}
@keyframes animatedBackground_1 {
	from { background-position: 0 0; }
	to { background-position: 390px 0; }
}
#separator_b{
	background: url('../img/pattern2.png');
	background-position: 0px 0px;
	animation: animatedBackground_2 10s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
#separator_b:hover{
	-webkit-animation-play-state: running;
	animation-play-state: running;
}
@keyframes animatedBackground_2 {
	from { background-position: 0 0; }
	to { background-position: 0 400px; }
}
#separator_c{
	background: url('../img/pattern3.png');
	background-position: 0px 0px;
	animation: animatedBackground_3 2s ease-in-out infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    background-repeat:repeat-x;
    background-color: rgb(229,229,229);
    padding-top:10em;
}
#separator_c:hover{
	-webkit-animation-play-state: running;
	animation-play-state: running;
}
@keyframes animatedBackground_3 {
	from { background-position: 0 0; }
	to { background-position: -100px 0; }
}
#separator_d{
	background: url('../img/pattern4.png');
	background-position: 0px 0px;
	animation: animatedBackground_4 10s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;	
		transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
#separator_d:hover{
	-webkit-animation-play-state: running;
	animation-play-state: running;
}
@keyframes animatedBackground_4 {
	from { background-position: 0 0; }
	to { background-position: 290px 210px; }
}
#separator_e{
	background: url('../img/pattern5.png');
	background-position: 0px 0px;
	animation: animatedBackground_5 10s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;	
	transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
#separator_e:hover{
	-webkit-animation-play-state: running;
	animation-play-state: running;
}
@keyframes animatedBackground_5 {
	from { background-position: 0 0; }
	to { background-position: 520px 0; }
}

